<launch>

    <arg name="object_size" default="" />
    <arg name="object_weight" default="" />
    <arg name="prototype" default="" />
    <arg name="save_data" default="false" />

    <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
        <param name="port" type="string" value="/dev/ttyACM0"/>
        <param name="baud" type="int" value="57600"/>
    </node>


    <node name="temporal_viz" pkg="arduino_magnetic_sensor" type="temporal_viz.py" output="screen" >
        <param name="object_size" value = "$(arg object_size)"/>
        <param name="object_weight" value = "$(arg object_weight)"/>
        <param name="prototype" value = "$(arg prototype)"/>
        <param name="meshplots_path" value = "$(find arduino_magnetic_sensor)/files/meshplots/"/>
        <param name="hdf5_file_path" value = "$(find arduino_magnetic_sensor)/files/hdf5/"/>
    </node>
    
    <group if="$(arg save_data)">
        <node pkg="rosbag" type="record" name="Experiment_$(arg object_size)_$(arg object_weight)_$(arg prototype)" 
    args="record -o $(find arduino_magnetic_sensor)/files/ros_bags/rosbag_Experiment_$(arg object_size)_$(arg object_weight)_$(arg prototype) /xServTopic /xServTopic_calibrated" />
    </group>

    <!-- include grid map visualizer launcher-->
    <!-- <include file="$(find arduino_magnetic_sensor)/launch/grid_map_visualization.launch">
    </include> -->

</launch>