<launch>

    <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
        <!-- <param name="port" type="string" value="/dev/ttyACM0"/> -->
        <param name="port" type="string" value="/dev/ttyUSB0"/>
        <param name="baud" type="int" value="57600"/>
    </node>

    <!-- include grid map visualizer launcher-->
    <!-- <include file="$(find arduino_magnetic_sensor)/launch/grid_map_visualization.launch">
    </include> -->

</launch>
